html { height: 100%; }
body {margin: 0 0; padding: 0 0; font-family:Verdana, Geneva, sans-serif; color: #4D4D4D; font-size: 20px;
    height: 100%; /* Высота страницы */
    background: url(img/back.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */}

a {color: #0366A6; text-decoration: none; border-bottom: 1px #bed7e7 solid; padding-bottom: 3px}
a:hover {color: #189CD0}

.contall { position: absolute; width: 551px; min-height: 530px; max-height: 600px; top: 5%; bottom: 5%; left: 0; right: 0; margin: auto; box-shadow: 0 8px 40px rgba(0,0,0,0.5); background-color: rgba(255,255,255, 0.9)}

.head {color: #fff; font-size: 17px; text-align: center; padding: 5px; background-color: #0366A6}

.title {font-size: 40px; text-align: center; margin: 15px 0 0 0}

.form1 {border: 3px #0366A6 solid; font-size: 24px; padding: 10px; margin: 5px 0; width: 95%; background-color: #fbfcfd}
.form1:focus {background-color: #fff; border: 3px #1bb4f0 solid}

.logt {font-size: 15px; text-align: left; padding: 0 0 5px 0; margin: 20px 0 0 0}

.links1 { font-size: 20px; padding: 0 0 10px 0; margin: 3px 0 0 0 }

.chek1 {position: absolute; width: 20px; height: 20px; border: 3px #0366A6 solid; }

.foot {position: absolute; bottom: 0; text-align: center; width: 100%; font-size: 14px; margin: 40px 0 20px 0; }

.butEnt {padding: 10px 30px; border-radius: 10px; background-color: #189CD0; color: #fff;}
.butEnt:hover {background-color: #1bb4f0; color: #fff;}

.but1 {padding: 10px; border-radius: 10px}
.but1:hover {background-color: #1bb4f0; color: #fff;}

.alert { display: block; font-size: 14px; text-align: center; padding: 15px; margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;}
.alert-danger {color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1}